<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".selecttaste.SelectTasteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>