<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".notice.NoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".policy.PolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.accountsetting.AccountSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.appsetting.AppSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".terms.TermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".useredit.UserEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>